<div class="videoBlock">
    <a href=<%=routes.videoDetail(video.id)%>>
        <video src=<%=video.videoFile%> controls="false" class="videoBlock_thumnail"></video>
        <h4 class="videoBlock_title"><%=video.title%></h4>
        <h6 class="videoBlock__views"><%=video.views%></h6>
    </a>
</div>