extends layouts/main
include mixins/videoBlock

block content
	.search_header
		h3 Searching for: #{searchingBy}
	.search_videos
		if videos.length === 0
			h5 No Videos Found!
		each item in videos
			+videoBlock({
				title: item.title,
				views: item.views,
				videoFile: item.videoFile,
				id: item.id //videoBlock에서 id를 할당받아서 보여줄 수 있게 함
			})