mixin videoPlayer(video= {})
    .videoPlayer#jsVideoPlayer
        video(src=`/${video.src}`)
        .videoPlayer_controls  
            .videoPlayer_column
                span#jsVolumeBtn
                    i.fas.fa-volume-up
                span#currentTime 00:00:00
                |/
                span#totalTime 00:00:00
            .videoPlayer_column
                span#jsPlayButton
                    i.fas.fa-play
            .videoPlayer_columnn
                span#jsFullScreen
                    i.fas.fa-expand



    