</main>
<footer class="footer">
	<div class="footer_icon">
        <i class="fab fa-youtube"></i>
    </div>
		
	<span class="footer_text">
        <%=siteName%> <%=new Date().getFullYear()%>&copy;
    </span>
</footer>
<script src="/static/main.js"></script>
</body>
</html>